
# Display specific
/display/node_modules
/display/bak
/display/data/*.json

# Generate specific
/transform/node_modules
/transform/dist
/transform/src/data/*.bak
/transform/*.log
# Ensure do not accidentially upload real users data
/transform/src/data/users-full.json
/transform/src/data/users.json

# Common
/docs/diagrams/.$*

*.log
.env
.~*
