
# Display specific
/display/node_modules
/display/bak
/display/public/data/*.json
/display/dist

# Generate specific
/transform/node_modules
/transform/dist
/transform/src/data/*.bak
/transform/*.log
# Ensure do not accidentially upload real users data
/transform/src/acquired-data/users-full.json
/transform/src/acquired-data/users.json

# Common
/docs/diagrams/.$*

*.log
.env
.~*
