
# Display specific
/display/node_modules
/display/bak

# Generate specific
/generate/node_modules
/generate/dist
/generate/src/data/*.bak
/generate/*.log

# Common
/docs/diagrams/.$*

*.log
.env
.~*
